.header{
    background-color: #595496;
    color: aliceblue;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.headerContainer{  
    width: 100%;
    max-width: 1024px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.headerNav{
    font-size: large;
    width: 100%;
    display:flex;
    align-items: center;
    gap: 45px;
}
.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}
.headerItem.active{
    padding: 10px;
    border-radius: 8px;
    background-color: aliceblue;
    color: #595496;
}
.headerTitle{
    margin-top: 40px;
    display: flex;
}
.headerDesc{
   display: flex;
   font-size: 20px;
   margin-bottom: 50px;
}
.headerButton{
    display: flex;
    margin-bottom: 30px;
}
.headerBtn{
    height: max-content;
    padding: 10px;
    font-size: 15px;
    background-color: aliceblue;
    color: #595496;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}